@import "../uniform";

.container{
    @include centerDiv;
    height: 100vh;
    svg{
        width: 15vmin;
        color: $main-color;
        margin: 5vmin 0;
    }
    form{
        @include centerDiv;
        background-color: $highlighter;
        border-radius: 15px;
        width: auto;
        padding: 10vmin 8vmin;
        padding-top: 5vmin;
        flex-direction: column;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
        h1{
            font-size: 8vmin;
            margin: 0;
        }
    }
    div{
        @include centerDiv;
        margin: 2vmin 0;
        *{
            margin: 0 2vmin;
        }
        label{
            width: 15vmin;
            color: $main-color;
        }
        input{
            background-color: transparent;
            border: 2px solid black;
            border-radius: 5px;
            padding: 1vmin 2vmin;
            width: 30vmin;
            outline: none;
            transition: all 0.5s;
            color: $main-color;
            &:hover{
                box-shadow: 0px 0px 10px .2px rgba($main-color,0.75);
            }
        }
    }
    .buttons{
        margin-top: 5vmin;
        @include centerDiv;
        justify-content: space-evenly;
        div{
            @include centerDiv;
        }
        svg{
            width: 8vmin;
        }
        button{
            background-color: transparent;
            border: none;
            width: auto;
            outline: none;
            svg{
                color: $comp-color;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .containerAbsolute{
        @include centerDiv;
        justify-content: flex-end;
        width: 95%;
        position: absolute;
        z-index: 10;
        top: 20vmin;
        .registrate{
            position: relative;
            z-index: 15;
            bottom: 0;
            justify-content: flex-end;
            width: auto;
            list-style: none;
            height: 3vmin;
            background-color: $highlighter;
            padding: 3vmin;
            transition: all 0.5s;
            
            svg{
                width: 3vmin;
                margin-right: 2vmin;
                color: $main-color;
            }
            &:last-child::after{
                box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.9);
            }
            &:hover{
                transform: translateY(-20px);
                a{
                    color: $main-color;
                }
            }
            &::before{
                content: "";
                position: absolute;
                width: 40px;
                height: 100%;
                background-color: rgba($highlighter, .6);
                top: 0;
                left: -40px;
                transform-origin: right;
                transform: skewY(45deg);
                transition: all 0.5s;
            }
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 40px;
                background-color: rgba($highlighter, .8);
                top: -40px;
                left: 0;
                transform-origin: bottom;
                transform: skewX(45deg);
                transition: all 0.5s;
            }
            a{
                text-decoration: none;
                color:#878787;
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1vmin;
                transition: all 0.5s;
            }
        }
    }    
}