@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

//!-------------------------------------------------------------

$main-color: #00ff15;
$page-color: #002233;
$comp-color: #FF00EA;
$highlighter: #001a26;

//!-------------------------------------------------------------

.dush{
    color: $main-color;
}
.comp{
    color: $comp-color;
}
